.custom-header {
    --ion-background-color: #3164f4;
    --ion-text-color: white;
  }
  
  .menu-button {
    --color: white;
  }
  

/* Center the form on the screen */
.ion-padding {
    height: 74vh;
    width: 100%;
    max-width: 500px;
    background: #1a191969;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius:46px;
  }
  
  /* Style the form container */
  .form-input {
    max-width: 650px;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 50px;
    ion-item::part(native){
        padding-left: 0;
        }
  }
  
  /* Style the form input fields */
  .form-input ion-item ion-input {
    color: #000;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    
  }
  
  /* Style the submit button */
  .form-input ion-button {
    margin-top: 20px;
    --ion-text-color: #fff;
    --ion-background-color: #dc3545;
  }
  
  /* Style the attach file button */
  .form-input ion-button p {
    margin: 0;
  }
  
  /* Style the form input labels */
  .form-input ion-item ion-label {
    color: #000;
  }
  
  /* Style the form input fields */
  .form-input ion-item ion-input {
    color: #000;
    border-radius: 5px;
    padding: 8px;
  }
  
  /* Style the form input fields when focused */
  .form-input ion-item ion-input:focus {
    border-color: #dc3545;
    box-shadow: 0 0 3px rgba(220, 53, 69, 0.5);
  }
  