<div class="container">
  <ng-container *ngIf="user != 'admin'">
    <div class="block">
      <h2>You are not signed in this barangay</h2>
    </div>
  </ng-container>
  <ng-container *ngIf="user == 'admin'">
    <div class="content">
      <h3>Municipality of Ibaan</h3>
      <p>
        Ibaan is a municipality located in the province of Batangas in the
        Philippines. It is situated in the Calabarzon region on the island of
        Luzon. Ibaan is known for its agricultural products, including rice,
        sugarcane, and various fruits. The town is also rich in cultural
        heritage, and it celebrates various festivals and events throughout the
        year, showcasing its traditions and local customs. The local economy is
        driven by agriculture, trade, and some industries. Ibaan is a relatively
        small and peaceful town, providing a rural and serene environment for
        its residents.
      </p>
      <h6>Ibaan is politically subdivided into 26 barangays:</h6>
      <ion-list>
        <ion-list>
          <ion-item>
            <ion-label>Bago</ion-label>
            <ion-label slot="end">Population: 10000</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Balanga</ion-label>
            <ion-label slot="end">Population: 8000</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Bungahan</ion-label>
            <ion-label slot="end">Population: 6000</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Calamias</ion-label>
            <ion-label slot="end">Population: 7500</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Catandala</ion-label>
            <ion-label slot="end">Population: 4500</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Coliat</ion-label>
            <ion-label slot="end">Population: 3000</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Dayapan</ion-label>
            <ion-label slot="end">Population: 5500</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Lapu-lapu</ion-label>
            <ion-label slot="end">Population: 7000</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Lucsuhin</ion-label>
            <ion-label slot="end">Population: 4000</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Mabalor</ion-label>
            <ion-label slot="end">Population: 6500</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Malainin</ion-label>
            <ion-label slot="end">Population: 5800</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Matala</ion-label>
            <ion-label slot="end">Population: 4800</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Munting-Tubig</ion-label>
            <ion-label slot="end">Population: 5200</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Palindan</ion-label>
            <ion-label slot="end">Population: 3000</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Pangao</ion-label>
            <ion-label slot="end">Population: 7000</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Panghayaan</ion-label>
            <ion-label slot="end">Population: 4300</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Poblacion</ion-label>
            <ion-label slot="end">Population: 15000</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Quilo</ion-label>
            <ion-label slot="end">Population: 3800</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Sabang</ion-label>
            <ion-label slot="end">Population: 6200</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Salaban I</ion-label>
            <ion-label slot="end">Population: 5400</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Salaban II</ion-label>
            <ion-label slot="end">Population: 5100</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>San Agustin</ion-label>
            <ion-label slot="end">Population: 6700</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Sandalan</ion-label>
            <ion-label slot="end">Population: 5900</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Sto. Niño</ion-label>
            <ion-label slot="end">Population: 4700</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Talaibon</ion-label>
            <ion-label slot="end">Population: 4100</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Tulay Na Patpat</ion-label>
            <ion-label slot="end">Population: 4000</ion-label>
          </ion-item>
        </ion-list>
      </ion-list>
    </div>
  </ng-container>
</div>
