.custom-header {
    --ion-background-color: #3164f4;
    --ion-text-color: #fff;
  }

  #calendar-icon {
    font-size: 24px;
    color: #fff; /* Set the desired color */
    margin-left: auto;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}
